
.menu{
	display: flex;
	justify-content:space-between;
	background-color:#563d7c;
    color:#ffe484;
}
.logo{
	font-weight: bold;
	text-shadow: 2px 2px black;

}
.menu ul{
	display: flex;
	margin: 0px;
	padding: 0px;
	list-style: none;	
}
.menu li a{
	display: block;
	padding: 12px;
	font-size: 19px;
	text-decoration: none;
	color:#ffe484;
}
.menu li a:hover{
	background-color:#66587e;
}
.active{
	background-color:#17a2b8;
	

}
.conteudo{
    display: flex;  
    flex-wrap:wrap;    
    margin-top: 20px;
    margin-bottom: 20px;   
}
.box{
    
    max-width: 242px;
    background-color: #fff;    
    margin: 4px;  
    flex: 1;
} 
aside{
	color: #fff;
	font-size: 18px;
    padding: 12px;	
	height: 100%;
	background-color:#563d7c;
} 
aside input{
	border-radius: 5px;
	border: 0px;	
}
aside img{
	width: 40px;
	margin-left: 12px;
}

footer{	
    color: #333;
	background-color:#ffe484;
	padding: 12px;
}
footer span{
	border-radius: 6px;	
	background-color: #563d7c;
	color: #ffe484;
	float: right;
}
body{	
	display: flex;
	min-height: 100vh;
	flex-direction: column;


}
.caixa{
	display: flex;				
	flex: 1;
	background-color:#563d7c;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-shadow: 2px 2px black;
	color:#ffe484;
	font-size: 20px;
	padding-bottom: 20px;
}
.caixa input{
	border: 0px;
	min-width: 254px;
	min-height: 40px;
	border-radius: 10px;	
}
.caixa p {
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meus-anuncios{

	display: flex;				
	flex: 1;
	background-color:#343a40;		
	color:#ffe484;
	
}
.aviso{
    padding-top: 10px;	
	background-color:#563d7c;
	color:#fff;
}
main article {
	width: 300px;
	max-width: 100%;
	border: 2px solid #eee;
	border-radius: 5px;
	padding: 3px;
	color: #333;

}
main article:hover{
	border: 2px solid #17a2b8;
}
main article img{
	max-width: 100%; 

}
table img{
	width: 80px;

}
.titulo{
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px black;
	color:#ffe484;
	padding: 5px;	
	border-top-right-radius: 30px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    min-width: 200px;
}
table .img-fluid {   
    min-width: 100px;
}


@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}