.menu{
	display: flex;
	justify-content:space-between;
	background-color:#563d7c;
    color:#ffe484;
}
.logo{
	font-weight: bold;
	text-shadow: 2px 2px black;
}
.menu ul{
	display: flex;
	margin: 0px;
	padding: 0px;
	list-style: none;	
}
.menu li a{
	display: block;
	padding: 12px;
	font-size: 19px;
	text-decoration: none;
	color:#ffe484;
}
.menu li a:hover{
	background-color:#66587e;
}
.conteudo{
    display: flex; /*fica lado a lado*/
    flex-wrap:wrap; /*quebra quando chega no limite do tamanho mínimo*/
}
.box{
    flex:1; /*ocupa todo espaço*/
    min-width: 150px; /*tamanho mínimo*/            
    min-height:150px;
    background-color: #eee;    
    margin: 4px;  
}  